/***variant of purple color**/
$pink-var-1: #6C5FC8;
$pink-var-2: #A396DA;
$pink-var-3: #D4D1EC;

/***variant of blue color**/
$blue-var-1: #3E74DB;
$blue-var-2: #92A8EA;
$blue-var-3: #D2DFF7;

/***variant of green color**/
$green-var-1: #33BF9E;
$green-var-2: #7DD6BE;
$green-var-3: #B6ECDF;

/***variant of yellow color**/
$yellow-var-1: #FFC228;
$yellow-var-2: #FFD577;
$yellow-var-3: #FDE9B4;

/***variant of red color**/
$red-var-1: #F55459;
$red-var-2: #FD918F;
$red-var-3: #FCC7C8;

/***variant of pink color**/
$pink-var-1: #F05881;
$pink-var-2: #FA93AB;
$pink-var-3: #FDC9D7;

/***variant of gray color**/
$grar-var-1: #E7E1EC;
$grar-var-2: #C6BECF;
$grar-var-3: #9386A0;
$grar-var-4: #776589;
$grar-var-5: #2B1D39;

/***variant of black color**/
$black-var-1: #1D1127;
$black-var-2: #4B4948;
$black-var-3: #323231;
$black-var-4: #2D2D2D;


/**Variant of orange color**/
$orange-var-1: #FF4400;
$orange-var-light: #F49471;


/*****White background variant***/
$white-smoke: #F8F8F8;