//typography
$fs-xs: 1.2rem;
$fs-sm: 1.4rem;
$fs-base: 1.6rem;
$fs-lg: 1.8rem;
$fs-lg-v1: 2rem;
$fs-lg-v2: 2.4rem;
$fs-lg-v3: 3rem;
$fs-lg-v4: 3.6rem;
$fs-lg-v5: 4.8rem;
$fs-lg-v6: 6rem;
$fs-lg-v7: 7.2rem;
$fs-lg-v8: 9.6rem;
$fs-lg-v9: 12.8rem;

//font-weight
$weight-1: 100;
$weight-2: 200;
$weight-3: 300;
$weight-4: 400;
$weight-5: 500;
$weight-6: 600;
$weight-7: 700;
$weight-8: 800;
$weight-9: 900;