@use "../../../sass/color" as colr;

.header-main {
    display: flex;
    flex-direction: column;
}

.header-topBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: colr.$white-smoke;

    font-size: 1.3rem;

    & strong {
        font-weight: 500;
    }

    & a {
        font-weight: 600;
        color: darken(colr.$green-var-1, 20);
        background-color: lighten(colr.$green-var-1, 40);
        padding: .5rem 1rem;
        border-radius: 999px;
    }
}

.header-mainNav {
    background-color: colr.$black-var-4;
}

.header-mainNav__inner {
    display: flex;
    padding: 0 8rem;

}


.header-mainNav__innerBlockTwo {
    flex: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mainNav__innerBlockOne {
    display: flex;
    flex: 30%;

    &__link
        {
            background-color: transparent;
                text-transform: uppercase;
                font-weight: 600;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 2rem;
                border-right: 0.8px solid #ffffff5e;
                transition: background-color 250ms ease-in;
        
                &:hover{
                    background-color: colr.$black-var-2;
                }
        }
}

.header-inputBar{
    flex-basis: 75%;
    max-width: 75%;
    display: flex;
    align-items: center;
    position: relative;
    &>input{
        flex-basis: 100%;
        max-width: 100%;
        padding: 1rem 2rem;
        border-radius: 999px;
        border: 1px solid transparent;

        &::placeholder{
            font-weight: 500;
        }
    }
    &>svg{
        position: absolute;
        right: 1rem;
        font-size: 2.5rem;
    }
}


.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: 0.8px solid #ffffff5e;
}

.accountButton__block{
    display: flex;
    flex-direction: column;
}

.header-mainNav__innerBlockTwo__link, 
.header-mainNav__innerBlockTwo__button{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        font-weight: 500;
        font-size: 1.15rem;
        color: colr.$white-smoke;
        background-color: transparent;
        border: 1px solid transparent;
        &>svg{
            font-size: 2rem;
        }
}