@use "../../../sass/color" as colr;
@use "../../../sass/variables" as var;

.header-main {
    display: flex;
    flex-direction: column;
}

.header-topBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: colr.$white-smoke;

    font-size: 1.3rem;

    & strong {
        font-weight: var.$weight-5;
    }

    & a {
        font-weight: 600;
        color: darken(colr.$green-var-1, 20);
        background-color: lighten(colr.$green-var-1, 40);
        padding: .5rem 1rem;
        border-radius: 999px;
    }
}

.header-mainNav {
    background-color: colr.$black-var-4;
}

.header-mainNav__inner {
    display: flex;
    padding: 0 8rem;

}


.header-mainNav__innerBlockTwo {
    flex: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mainNav__innerBlockOne {
    display: flex;
    flex: 30%;

    &__link
        {
            background-color: transparent;
                text-transform: uppercase;
                font-weight: 600;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 2rem;
                border-right: 0.8px solid #ffffff5e;
                transition: background-color 250ms ease-in;
        
                &:hover{
                    background-color: colr.$black-var-2;
                }
        }
}

.header-inputBar{
    flex-basis: 75%;
    max-width: 75%;
    display: flex;
    align-items: center;
    position: relative;
    &>input{
        flex-basis: 100%;
        max-width: 100%;
        padding: 1rem 2rem;
        border-radius: 999px;
        border: 1px solid transparent;

        &::placeholder{
            font-weight: var.$weight-5;
        }
    }
    &>svg{
        position: absolute;
        right: 1rem;
        font-size: 2.5rem;
    }
}


.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: 0.8px solid #ffffff5e;
}

.accountButton__block{
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-mainNav__innerBlockTwo__link, 
.header-mainNav__innerBlockTwo__button{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        font-weight: var.$weight-5;
        font-size: 1.15rem;
        color: colr.$white-smoke;
        background-color: transparent;
        border: 1px solid transparent;
        &>svg{
            font-size: 2rem;
        }
}

.header-mainNav__innerBlockTwo__button.activeButton{
    color: colr.$orange-var-1;
}

//header bottom navigations & interactivity

.header-bottomNav{
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: colr.$lightest-grey;
}

.header-bottomNav__list{
    display: flex;
    // align-items: center;
    justify-content: space-between;
    font-weight: var.$weight-5;
    font-size: var.$fs-sm;

    &>li{
        display: flex;
        flex-direction: column;
    }

    &>li>button, &>li>a{
        padding: 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        font-size: inherit;
        font-weight: inherit;
        transition: background-color 250ms ease-in;

        &:hover{
            background-color: lighten(colr.$orange-var-1, 5);
        }
       
    }
    &>li>button{
        background-color: transparent;
        border: 1px solid transparent;
    }

    &>li>a>svg{
           font-size: var.$fs-lg-v1;
    }
    &>li>button>svg{
           font-size: var.$fs-lg-v3;
    }
}

//Account Menu
.accountMenu{
    position: absolute;
    top: 4.5rem;
    right: 0;
    background-color: #fff;
    padding: 2rem;
    box-shadow: var.$primary-shadow;
    border-radius: var.$bd-rad-v1;
    width: 22rem;
    font-size: var.$fs-sm;
    transition: transform 250ms ease-in;
    transform: translateX(500%);
    &.menu-active{
        transform: translateX(0);
    }

    & svg{
        font-size: var.$fs-lg-v2;
    }
}

.accountMenu__topItem{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid lighten(colr.$black-var-2, 60);

    &>a{
        border-radius: 999px;
        padding: 1.5rem 2rem;
        background-color: lighten($color: colr.$gray-var-1, $amount: 3);
        transition: background-color 250ms ease-in;
        &:hover{
            background-color: colr.$gray-var-2;
        }
    }

    &>a, &>div{
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

   
}

.accountMenu__list{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &>li{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem 0;

        & svg{
            font-size: var.$fs-lg-v2;
        }

    }
}


.accountMenu__logout{
    &>button{
        background-color: transparent;
        border: 1px solid transparent;
        }
}